div.path-options
    | Vitesse de croisi&egrave;re :&nbsp;
    input(type="number", value="#{path.cruiseSpeed}").cruiseSpeed
    | &nbsp;m/s
    br
    | Vitesse de fin :&nbsp;
    input(type="number", value="#{path.endSpeed}").endSpeed
    | &nbsp;m/s
    br
    input(type="checkbox", checked=(path.teamMirror ? "checked" : undefined)).teamMirror
    | Mirroir &eacute;quipes
    br
    br
    | Cap initial :&nbsp;
    input(type="number", value="#{path[selectedTeam][tableConfig].initAngle}").initAngle
    | &nbsp;&deg;
    br
    | Points :
    table.points-table
        if path[selectedTeam][tableConfig].points.length == 0
            br 
            p(style="text-align:center; margin:0") cliquer sur la table pour ajouter des points
        else
            -var i = 0;
            each point in path[selectedTeam][tableConfig].points
                tr
                    td.points-index=++i
                    td x : &nbsp;
                        input(type="number", value="#{point.x}", data-index="#{i-1}").point-x
                    td y : &nbsp;
                        input(type="number", value="#{point.y}", data-index="#{i-1}").point-y
